<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>RCC | Constructora</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/menu.css">
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="stylesheets/menu.css">
    <link rel="stylesheet" href="stylesheets/flat-ui-slider.css">
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/skeleton.css">
    <link rel="stylesheet" href="stylesheets/landings.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/landings_layouts.css">
    <link rel="stylesheet" href="stylesheets/box.css">
    <link rel="stylesheet" href="stylesheets/pixicon.css">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>
<body>


    <div class="pixfort_normal_1" id="section_header_3_dark">
        <div class="header_style header_nav_1 dark pix_builder_bg">
            <div class="container">
                <div class="sixteen columns firas2">
                    <nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg pix_nav_1">
                        <div class="containerss">
                            <div class="navbar-header">
                                <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                                    <span class="sr-only">Toggle navigation</span>
                                </button>
                                <img src="images/main/logo.png" class="pix_nav_logo" alt=""  width="130px">                
                            </div>
                            <div id="navbar-collapse-02" class="collapse navbar-collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="propClone"><a href="#section_features_1">Como lo hacemos</a></li>
                                    <li class="active propClone"><a href="#section_services">Nuestros servicios</a></li>
                                    <li class="propClone"><a href="#section_testimonials_1">Testimonios</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container -->
                    </nav>
                </div>
            </div><!-- container -->
        </div>
    </div>

    <div class="pixfort_gym_13 construction " id="section_gym_5">
            <div class="join_us_section pix_builder_bg">
                <div class="container">
                    <div class="sixteen columns">
                        <div class="ten columns alpha area_1">
                            <span class="const_title">RCC lo mejor en construcción</span>
                            <p>
                             La constructora mas importante a nivel estatal con presencia en cinco ciudades del país.
                            </p>
                        </div>

                        <div class="six columns omega">
                            <div class="pix_form_area">
                                <div class="substyle pix_builder_bg">
                                    <div class="title-style"><span class="editContent"><span class="pix_text">Contacto</span></span></div>
                                    <br>
                                    <div class="text-style">
                                        <span class="editContent"><span class="pix_text">Te invitamos a que te pongas en contacto con nosotros, te devolveremos la llamada mediante uno de nuestros acesores epecializados.</span></span>
                                    </div><br>
                                    <div class="clearfix"></div>
                                    <form id="contact_form" pix-confirm="hidden_pix_13">
                                        <div id="result"></div>
                                        <input type="text" name="name" id="name" placeholder="Nombre completo" class="pix_text">
                                        <input type="email" name="email" id="email" placeholder="Email" class="pix_text">
                                        <input type="text" name="number" id="number" placeholder="Número telefónico" class="pix_text">
                                        <span class="send_btn">
                                            <button id="submit_btn_13" class="slow_fade editContent pix_text">
                                                <span class="editContent">Contactar</span>
                                            </button>
                                        </span>
                                    </form>
                      <div class="clearfix"></div>
                  </div>
                  <div class="note_contact pix_builder_bg"><span class="editContent"><span class="pix_text">*Nota: Este formulario es para ventas y cotizaciones.</span></span></div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
<div id="hidden_pix_13" class="confirm_page confirm_page_13 construction pix_builder_bg">
    <div class="pixfort_gym_13 ">
        <div class="confirm_header">
            <span class="editContent">
                <span class="pix_text">
                    Thank You Very Much!
                </span>
            </span>
        </div>
        <div class="confirm_text">
            <span class="editContent">
                <span class="pix_text">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt.
                </span>
            </span>
        </div>
        <div class="center_text padding_bottom_60">
            <ul class="bottom-icons confirm_icons center_text big_title pix_inline_block">
                <li><a class="pi pixicon-facebook6 white" href="#fakelink"></a></li>
                <li><a class="pi pixicon-twitter6 white" href="#fakelink"></a></li>
                <li><a class="pi pixicon-googleplus7 white" href="#fakelink"></a></li>
            </ul>
        </div>
    </div>
</div>


<div class="light_gray_bg big_padding padding_bottom_0 pix_builder_bg" id="section_title_2">
    <div class="container">       
            <div class="twelve columns offset-by-two">
                <div class="center_text">
                    <div class="title_56 margin_bottom_10 dark_yellow">
                        <span class="pi pixicon-tools-2"></span>
                    </div>
                    <h2 class="big_title dark_gray editContent">Construye el proyecto de tus sueños</h2>
                    <p class="normal_text light_gray editContent">Te invitamos a que nos permitas construir la base de tus proyectos de vida, que puede ser tu hogar, tu empresa o tu lugar de descanzo.</p>
                </div>
            </div>
    </div>
</div>


<div class="" id="section_features_1">  
        <div class="features_1 padding_top_0 pix_builder_bg">
            <div class="container">
                <div class="sixteen columns">
                    <div class="four columns onethird_style alpha">
                        <div class="f1_box">
                            <div class="f_1_icon_box">
                                <span class="pi pixicon-heart3 creative_c_icon" id="ui-id-23"></span>
                            </div>
                            <div class="">
                                <span class="c1_style2"><span class="editContent"><span class="pix_text">Amamos lo que hacemos</span></span></span><br>
                                <span class="c2_style2 editContent"><span class="pix_text">En RCC estamos orgullosos de amar lo que hacemos, contamos con el mejor personal para ponerlo a tu disposición.</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="four columns onethird_style alpha">
                        <div class="f1_box">
                            <div class="f_1_icon_box">
                                <span class="pi pixicon-lab creative_c_icon" id="ui-id-23"></span>
                            </div>
                            <div class="">
                                <span class="c1_style2"><span class="editContent"><span class="pix_text">Gran experiencia</span></span></span><br>
                                <span class="c2_style2 editContent"><span class="pix_text">Tenemos muchos años haciendo y contrullendo los sueños de muchas persos como tú, por eso podemos ofrecerte seguridad.</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="four columns onethird_style alpha">
                        <div class="f1_box">
                            <div class="f_1_icon_box">
                                <span class="pi pixicon-cup creative_c_icon" id="ui-id-23"></span>
                            </div>
                            <div class="">
                                <span class="c1_style2"><span class="editContent"><span class="pix_text">Somos amigables</span></span></span><br>
                                <span class="c2_style2 editContent"><span class="pix_text">No te arrepentiras de la gran experiencia que es contratarnos para tu proyecto, porque ese proyecto siempre te dará satisfacción al verlo.</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="four columns onethird_style alpha">
                        <div class="f1_box">
                            <div class="f_1_icon_box">
                                <span class="pi pixicon-diamond creative_c_icon" id="ui-id-23"></span>
                            </div>
                            <div class="">
                                <span class="c1_style2"><span class="editContent"><span class="pix_text">Valoramos tu dinero</span></span></span><br>
                                <span class="c2_style2 editContent"><span class="pix_text">Valoramos mucho el esfuerzo con el cual has ganado día con día tu ingreso por eso te ofrecemos los mejores precios del mercado.</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class=" padding_top2_60 padding_bottom_0" id="section_services">
        <div class="container">       
                <div class="twelve columns offset-by-two">
                    <div class="center_text">
                        <div class="title_56 dark_yellow">
                            <span class="pi pixicon-telescope"></span>
                        </div>
                        <h2 class="big_title dark_gray editContent">Servicios que ofrecemos</h2>
                        <p class="normal_text light_gray editContent">En RCC te ofrecemos servicios variados especializados en el area de la construcción.</p>
                    </div>
                </div>
        </div>
    </div>



<div class="pixfort_gym_13 construction pix_builder_bg" id="section_gym_4">
    <div class="gym_life">
        <div class="container">
            <div class="sixteen columns gym_life">
               <div class="">
                    <div class="one-third column alpha">
                        <div class="part_st">
                            <div class="img_gym_st2"><img src="images/20_construction/r1.jpg" class="logo_style" alt=""></div>
                            <div class="text_gym_style">
                                <p class="gym_st"><span class="editContent">Factivilidad del proyecto y avaluo</span></p>
                                <p class="gym_text"><span class="editContent">RCC te ofrece servicios para evaluar y valuar cualquier proyecto en el area de la construcción.</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="one-third column ">
                        <div class="part_st">
                            <div class="img_gym_st2"><img src="images/20_construction/r2.jpg" class="logo_style"  alt=""></div>
                            <div class="text_gym_style">
                                <p class="gym_st"><span class="editContent">Planeación del proyecto</span></p>
                                <p class="gym_text"><span class="editContent">Te ofrecemos servicios de arquitectura, ingieniería y financieros para que tu proyecto tenga lo que necesita.</span></p>
                            </div>                        </div>
                    </div>
                    <div class="one-third column  omega">
                        <div class="part_st">
                            <div class="img_gym_st2"><img src="images/20_construction/r3.jpg" class="logo_style"  alt=""></div>
                            <div class="text_gym_style">
                                <p class="gym_st"><span class="editContent">Ejecución del proyecro</span></p>
                                <p class="gym_text"><span class="editContent">Te ofrecemos llevar tu proyecto en campo desde el inicio hasta el final con todo lo que ello implica en la dirección del mismo.</span></p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



    <div class="normal_padding padding_bottom_60 pixfort_gym_13 construction pix_builder_bg" id="section_gym_4">
    <div class="gym_life">
        <div class="container">
            <div class="sixteen columns gym_life">
               <div class="">
                    <div class="one-third column alpha">
                        <div class="part_st">
                            <div class="img_gym_st2"><img src="images/20_construction/r4.jpg" class="logo_style" alt=""></div>
                            <div class="text_gym_style">
                                <p class="gym_st"><span class="editContent">Serivios de remodelación y reparación.</span></p>
                                <p class="gym_text"><span class="editContent">Tenemos servicios mespeciales para dejar remodelado cualquier tipo de inmueble.</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="one-third column ">
                        <div class="part_st">
                            <div class="img_gym_st2"><img src="images/20_construction/r5.jpg" class="logo_style"  alt=""></div>
                            <div class="text_gym_style">
                                <p class="gym_st"><span class="editContent">Manejo y renta de maquinaria</span></p>
                                <p class="gym_text"><span class="editContent">Te rentamos maquinaria, con o sin operador.</span></p>
                            </div>                        </div>
                    </div>
                    <div class="one-third column  omega">
                        <div class="part_st">
                            <div class="img_gym_st2"><img src="images/20_construction/r6.jpg" class="logo_style"  alt=""></div>
                            <div class="text_gym_style">
                                <p class="gym_st"><span class="editContent">Inspectores</span></p>
                                <p class="gym_text"><span class="editContent">Tenemos el servicio de inspección de proyectos para que estes seguro de lo que se está haciendo.</span></p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div class="" id="section_clients_1">  
        <div class="light_gray_bg big_padding padding_bottom_0 pix_builder_bg">
            <div class="container">
                <div class="sixteen columns center_text">
                    <p class="normal_title editContent">
                        <strong>Algunos clientes</strong>
                    </p>
                    <span class="pix_text normal_gray">
                        <span class="normal_text editContent">
                            La mejor constructora de México
                        </span>
                    </span>
                </div>
                <div class="big_padding pix_inline_block center_text">
                    <div class="sixteen columns ">
                        <div class="one-third column alpha">
                            <img src="images/main/logos/pemex.png" class="margin_vertical" alt="">
                        </div>
                        <div class="one-third column">
                            <img src="images/main/logos/cfe.png" class="margin_vertical" alt="">
                        </div>
                        <div class="one-third column omega">
                            <img src="images/main/logos/nuevoleon.png" class="margin_vertical" alt="" width="220px;">
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="pixfort_pix_1 construction" id="section_testimonials_1">
            <div class="tesi_style pix_builder_bg">
                <div class="container">
                    <div class="sixteen columns">
                        <img src="images/main/light-normal.png" alt="" class="q-icon">
                        <ul class="testimonials ticker_fade">
                            <!-- First Testimonial -->
                            <li>
                                <p class="quote-text editContent">
                                    <!-- Change to your text here -->
                                    Una experiencia indescriptible construyeron mi casa en menos de lo que esperaba y con menos presupuesto que otros.
                                </p>
                                <div class="quote-dots">. . .</div>
                                <div class="quote-title editContent pix_text">
                                    <!-- Change title Here -->
                                    Elias Reyes
                                </div>
  

                            </li>
                            <!-- End of First Testimonial -->
                            <!-- Second Testimonial -->
                            <li>
                                <p class="quote-text editContent">
                                    <!-- Change to your text here -->
                                    Puntuales con gran profecionalidad y experiencia, todo a tiempo.
                                </p>
                                <div class="quote-dots">. . .</div>
                                <div class="quote-title editContent pix_text">
                                    <!-- Change title Here -->
                                    Lic. Emilio Millan
                                </div>

                            </li>
                            <!-- End of Second Testimonial -->
                            <!-- Third Testimonial -->
                            <li>
                                <p class="quote-text editContent">
                                    <!-- Change to your text here -->
                                    Son los mejores con los que he trabajado, una experiencia de trato inigualable.
                                </p>
                                <div class="quote-dots">. . .</div>
                                <div class="quote-title editContent pix_text">
                                    <!-- Change title Here -->
                                    Ing. Ernesto Pasquel M.
                                </div>

                            </li>
                            <!-- End of Third Testimonial -->
                        </ul>
                    </div>
                </div><!-- container -->
            </div>
        </div>




        <div class="pix_call_1 dark pix_builder_bg" id="section_call_3_dark">
        <div class="container ">
            <div class="two-thirds column pix_area1">
                <div class="call_text">
                    <h2 class="editContent"><strong>Estamos esperando por tí</strong></h2>
                    <p class="normal_text light_gray editContent">Te invitamos a que nos des la oportunida de demostrarte "por que somos lo mejores".</p>
                </div>
            </div>
            <div class="one-third column pix_area2">
                <a href="#section_gym_5" class="pix_button pix_button_line dark_yellow btn_big">
                    <i class="pi pixicon-layout"></i> 
                    <span><strong>Contactar a RCC</strong></span>
                </a>    
            </div>
        </div>
    </div>


    <div class="pixfort_text_4 dark soft_dark_gray_bg pix_builder_bg" id="section_footer_3_dark">
        <div class="footer3">
        <div class="container ">
            <div class="six columns alpha pix_text">
                <div class="content_div area_1">
                    <img src="images/main/logo.png" class="pix_footer_logo" alt="" width="250px">                
                    <p class="small_text editContent">Te ofrecemos una nueva forma de ver el mundo.</p>
                </div>
            </div>
            <div class="six columns">
                <div class="content_div area_3">
                    <span class="pix_text"><span class="editContent big_number">811 790 4597</span></span>
                    <span class="pix_text"><span class="editContent small_bold light_color">Atención de 10AM - 18PM</span></span>
                    <h4 class="editContent med_title">Nuevo Leon México</h4>
                    <p class="editContent small_bold"> San Pedro Garza Garcia,Hidalgo 323 Centro.</p>
                </div>
            </div>
            <div class="four columns omega">
                <div class="content_div">
                    <span class="pix_text"><span class="editContent footer3_title">RCC</span></span>
                    <p class="editContent ">Para mayores imformes ponerce en contacto con nosotros.</p>
                    <p>© Todos los derechos reservados RCC 2016.</p>
                </div>
            </div>
        </div>
    </div>
    </div>


<script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="js-files/jquery.easing.1.3.js" type="text/javascript"></script>
<script src='js-files/jquery.common.min.js' type='text/javascript'></script>
<script src="js-files/jquery.ui.touch-punch.min.js"></script>
<script src="js-files/ticker.js" type="text/javascript"></script>
<script src="js-files/bootstrap.min.js"></script>
<script src="js-files/bootstrap-switch.js"></script>
<script src="assets/js/appear.min.js" type="text/javascript"></script>
<script src="js-files/custom1.js" type="text/javascript"></script>
<script src="js-files/custom3.js" type="text/javascript"></script>
<script src="assets/js/smoothscroll.min.js" type="text/javascript"></script>
</body>
</html>